body{
    margin: 0;
    padding: 0;
    background:	#98FB98;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    margin-top: 30px;
    color: white;
}
.header{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

main{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 550px;
}
h1{
    font-size: 1.3rem;
    margin-left: 5%;
    margin-top: 30px;
}
.formu{
   width: 40%;
   height: 400px;
   background-color: #5A6B47;
   border-radius: 15px;
   overflow: hidden;
}
.title{
    color: white;
    background-color: #24380d;
    border-bottom: solid #374428 5px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
}
.text{
    font-size: 3rem;
}
.input-50{
    width: 92%;
    height: 40px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #DABF94;
    border: solid rgb(0, 0, 0) 1px;
    border-radius: 5px;
    font-size: 20px;
}
.input-100{
    width: 92%;
    height: 40px;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgb(240, 216, 108);
    border: solid rgb(0, 0, 0) 1px;
    border-radius: 5px;
    font-size: 20px;
}
.input-100::placeholder{
    color: black;
    font-size: 20px;
}
.input-50::placeholder{
    color: black;
    font-size: 20px;
}
.button{
    margin: 30px;
    border: none;
    border-radius: 10px;
    background-color: #9C794F;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.button:hover{
    margin: 20px;
    background-color:#3F3222;
}